In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

In [56]:
pwd

'C:\\Users\\tusha\\Documents\\Data Science Course\\basic python assignments\\new assignments'

In [57]:
data=pd.read_excel('C:\\Users\\tusha\\Documents\\Data Science Course\\basic python assignments\\new assignments\\pokemon_data.xlsx')

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              151 non-null    int64
 1   num             151 non-null    int64
 2   name            151 non-null    object
 3   img             151 non-null    object
 4   type            151 non-null    object
 5   height          151 non-null    object
 6   weight          151 non-null    object
 7   candy           151 non-null    object
 8   candy_count     70 non-null     float64
 9   egg             151 non-null    object
 10  spawn_chance    151 non-null    float64
 11  avg_spawns      151 non-null    float64
 12  spawn_time      145 non-null    object
 13  multipliers     70 non-null     object
 14  weaknesses      151 non-null    object
 15  next_evolution  70 non-null     object
 16  prev_evolution  72 non-null     object
dtypes: float64(3), int64(2), object(12)
memory usage: 20.2+ KB

In [59]:
data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,1.58,"Fire, Ice, Flying, Psychic","Ivysaur, Venusaur",NaN
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic",Venusaur,Bulbasaur
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"Fire, Ice, Flying, Psychic",NaN,"Bulbasaur, Ivysaur"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,1.65,"Water, Ground, Rock","Charmeleon, Charizard",NaN
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,1.79,"Water, Ground, Rock",Charizard,Charmander

# Get all Pokemons whose spawn rate is less than 5%

In [60]:
# 
low_spawn_rate_pokemon = data[data['spawn_chance'] < 5]
print("Pokemons with spawn rate less than 5%:")
print(low_spawn_rate_pokemon[['name', 'spawn_chance']])

Pokemons with spawn rate less than 5%:
           name  spawn_chance
0     Bulbasaur        0.6900
1       Ivysaur        0.0420
2      Venusaur        0.0170
3    Charmander        0.2530
4    Charmeleon        0.0120
..          ...           ...
146     Dratini        0.3000
147   Dragonair        0.0200
148   Dragonite        0.0011
149      Mewtwo        0.0000
150         Mew        0.0000

[147 rows x 2 columns]

In [61]:
low_spawn_rate_pokemon[['name',]]

           name
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
146     Dratini
147   Dragonair
148   Dragonite
149      Mewtwo
150         Mew

[147 rows x 1 columns]

In [62]:
data[['weaknesses']]

                     weaknesses
0    Fire, Ice, Flying, Psychic
1    Fire, Ice, Flying, Psychic
2    Fire, Ice, Flying, Psychic
3           Water, Ground, Rock
4           Water, Ground, Rock
..                          ...
146          Ice, Dragon, Fairy
147          Ice, Dragon, Fairy
148    Ice, Rock, Dragon, Fairy
149            Bug, Ghost, Dark
150            Bug, Ghost, Dark

[151 rows x 1 columns]

In [63]:
data['num_weaknesses'] = data['weaknesses'].apply(lambda x: len(x.split(', ')))

In [64]:
data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,num_weaknesses
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,1.58,"Fire, Ice, Flying, Psychic","Ivysaur, Venusaur",NaN,4
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic",Venusaur,Bulbasaur,4
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"Fire, Ice, Flying, Psychic",NaN,"Bulbasaur, Ivysaur",4
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,1.65,"Water, Ground, Rock","Charmeleon, Charizard",NaN,3
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,1.79,"Water, Ground, Rock",Charizard,Charmander,3

# #Get all Pokemons that have less than 4 weakness

In [65]:
#Get all Pokemons that have less than 4 weakness
data[data['num_weaknesses'] < 4][['name', 'num_weaknesses']]

           name  num_weaknesses
3    Charmander               3
4    Charmeleon               3
5     Charizard               3
6      Squirtle               2
7     Wartortle               2
..          ...             ...
145     Moltres               3
146     Dratini               3
147   Dragonair               3
149      Mewtwo               3
150         Mew               3

[102 rows x 2 columns]

In [87]:
data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,weaknesses,next_evolution,prev_evolution,num_weaknesses,num_multiplier,num_evolution1,num_evolution2,total_evolution,spawn_time_minute,spawn_time_seconds
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,"Fire, Ice, Flying, Psychic","Ivysaur, Venusaur",NaN,4,1,2,0,2,20,0
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,...,"Fire, Ice, Flying, Psychic",Venusaur,Bulbasaur,4,2,1,1,2,7,0
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,...,"Fire, Ice, Flying, Psychic",NaN,"Bulbasaur, Ivysaur",4,0,0,2,2,11,30
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,...,"Water, Ground, Rock","Charmeleon, Charizard",NaN,3,1,2,0,2,8,45
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,"Water, Ground, Rock",Charizard,Charmander,3,1,1,1,2,19,0

In [67]:
#data['multipliers']=data['multipliers'].astype(str)

In [68]:
data['num_multiplier'] = data['multipliers'].apply(lambda x: len(x.split(',')) if isinstance(x, str) else 0)

In [69]:
data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,num_weaknesses,num_multiplier
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,1.58,"Fire, Ice, Flying, Psychic","Ivysaur, Venusaur",NaN,4,1
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic",Venusaur,Bulbasaur,4,2
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"Fire, Ice, Flying, Psychic",NaN,"Bulbasaur, Ivysaur",4,0
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,1.65,"Water, Ground, Rock","Charmeleon, Charizard",NaN,3,1
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,1.79,"Water, Ground, Rock",Charizard,Charmander,3,1

# #Get all Pokemons that have no multipliers at all

In [70]:

data[data['num_multiplier'] <1][['name', 'num_multiplier']]

           name  num_multiplier
2      Venusaur               0
5     Charizard               0
8     Blastoise               0
11   Butterfree               0
14     Beedrill               0
..          ...             ...
144      Zapdos               0
145     Moltres               0
148   Dragonite               0
149      Mewtwo               0
150         Mew               0

[81 rows x 2 columns]

In [71]:
data['num_evolution1'] = data['next_evolution'].apply(lambda x: len(x.split(',')) if isinstance(x, str) else 0)

In [72]:
data['num_evolution2'] = data['prev_evolution'].apply(lambda x: len(x.split(',')) if isinstance(x, str) else 0)

In [73]:
data['total_evolution'] = data['num_evolution1'].add(data['num_evolution2'])

# Get all Pokemons that do not have more than 2 evolutions

In [74]:

data[data['total_evolution'] >2] [['name', 'total_evolution']]

      name  total_evolution
132  Eevee                3

# Get all Pokemons whose spawn time is less than 300 seconds.

In [83]:
data['spawn_time_minute']= data['spawn_time'].apply(lambda x: int(x.split(':')[0]) if isinstance(x, str) else 0)
#df['spawn_minutes'] = df['spawn_time'].apply(lambda x: int(x.split(':')[0]))

In [84]:
data['spawn_time_seconds']= data['spawn_time'].apply(lambda x: int(x.split(':')[1]) if isinstance(x, str) else 0)

In [90]:
data['spawn_time_minute']= data['spawn_time_minute'] * 60

In [93]:
data['total_spawntime_sec']=data['spawn_time_minute'].add(data['spawn_time_seconds'])

In [94]:
data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,next_evolution,prev_evolution,num_weaknesses,num_multiplier,num_evolution1,num_evolution2,total_evolution,spawn_time_minute,spawn_time_seconds,total_spawntime_sec
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,"Ivysaur, Venusaur",NaN,4,1,2,0,2,1200,0,1200
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,...,Venusaur,Bulbasaur,4,2,1,1,2,420,0,420
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,...,NaN,"Bulbasaur, Ivysaur",4,0,0,2,2,660,30,690
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,...,"Charmeleon, Charizard",NaN,3,1,2,0,2,480,45,525
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Charizard,Charmander,3,1,1,1,2,1140,0,1140

In [96]:
data[['spawn_time','spawn_time_minute','spawn_time_seconds','total_spawntime_sec']]

    spawn_time  spawn_time_minute  spawn_time_seconds  total_spawntime_sec
0        20:00               1200                   0                 1200
1        07:00                420                   0                  420
2        11:30                660                  30                  690
3        08:45                480                  45                  525
4        19:00               1140                   0                 1140
..         ...                ...                 ...                  ...
146      06:41                360                  41                  401
147      11:57                660                  57                  717
148      23:38               1380                  38                 1418
149        NaN                  0                   0                    0
150        NaN                  0                   0                    0

[151 rows x 4 columns]

In [97]:

data[data['total_spawntime_sec'] <300] [['name', 'total_spawntime_sec']]

          name  total_spawntime_sec
6     Squirtle                  265
8    Blastoise                    6
10     Metapod                  131
12      Weedle                  141
13      Kakuna                  150
..         ...                  ...
143   Articuno                    0
144     Zapdos                    0
145    Moltres                    0
149     Mewtwo                    0
150        Mew                    0

[81 rows x 2 columns]

In [98]:
data.drop(columns=['num_evolution1','num_evolution2','spawn_time_minute','spawn_time_seconds'],inplace=True)

# Get all Pokemon who have more than two types of capabilities

In [99]:
data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,num_weaknesses,num_multiplier,total_evolution,total_spawntime_sec
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,69.0,20:00,1.58,"Fire, Ice, Flying, Psychic","Ivysaur, Venusaur",NaN,4,1,2,1200
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,...,4.2,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic",Venusaur,Bulbasaur,4,2,2,420
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,...,1.7,11:30,NaN,"Fire, Ice, Flying, Psychic",NaN,"Bulbasaur, Ivysaur",4,0,2,690
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,...,25.3,08:45,1.65,"Water, Ground, Rock","Charmeleon, Charizard",NaN,3,1,2,525
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,1.2,19:00,1.79,"Water, Ground, Rock",Charizard,Charmander,3,1,2,1140

In [105]:
data['num_capabilities']= data['type'].apply(lambda x: len(x.split(', ')) if isinstance(x, str) else 0)

In [106]:
data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,num_weaknesses,num_multiplier,total_evolution,total_spawntime_sec,num_capabilities
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,20:00,1.58,"Fire, Ice, Flying, Psychic","Ivysaur, Venusaur",NaN,4,1,2,1200,2
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,...,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic",Venusaur,Bulbasaur,4,2,2,420,2
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,...,11:30,NaN,"Fire, Ice, Flying, Psychic",NaN,"Bulbasaur, Ivysaur",4,0,2,690,2
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,...,08:45,1.65,"Water, Ground, Rock","Charmeleon, Charizard",NaN,3,1,2,525,1
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,19:00,1.79,"Water, Ground, Rock",Charizard,Charmander,3,1,2,1140,1

In [109]:
data[data['num_capabilities'] >2 ][['name','num_capabilities']]

Empty DataFrame
Columns: [name, num_capabilities]
Index: []